<div>
    <h5>Table of Contents</h5>
    <ol>
        <li><a class="text-primary" onclick="location.href='@Url.Action("APIDocs_1", "Docs")'">API Overview</a></li>
        <li><a class="text-primary" onclick="location.href='@Url.Action("APIDocs_2", "Docs")'">Swagger / OpenAPI Support</a></li>
        <li><a class="text-primary" onclick="location.href='@Url.Action("APIDocs_3", "Docs")'">Assembler API</a></li>
        <li><a class="text-primary" onclick="location.href='@Url.Action("APIDocs_4", "Docs")'">Emulator API</a></li>
    </ol>
</div>