<div class="card-columns">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <img src="~/img/Docs/cpu.svg" width="50" class="p-2" />
                <h3 class="pt-2">The SAP1 Computer</h3>
            </div>

            <p class="card-text">
                Explore the architecture and design of the SAP1 Computer.
            </p>
            <button class="btn btn-secondary" disabled>Learn More</button>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <img src="~/img/Docs/modern-computer.svg" width="50" class="p-2" />
                <h3 class="pt-2">Modern Computing</h3>
            </div>

            <p class="card-text">
                How are 8-Bit Computers similar and different from out modern computers?
            </p>
            <button class="btn btn-secondary" disabled>Learn More</button>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <img src="~/img/Docs/learn.svg" width="50" class="p-2" />
                <h3 class="pt-2">Learning Resources</h3>
            </div>

            <p class="card-text">
                Find other great learning resources.
            </p>
            <button class="btn btn-secondary" disabled>Learn More</button>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <img src="~/img/Docs/code.svg" width="50" class="p-2" />
                <h3 class="pt-2">8-Bit Programming</h3>
            </div>

            <p class="card-text">
                Write you first program and learn about different Instruction Sets.
            </p>
            <button class="btn btn-primary" onclick="location.href='@Url.Action("EightBitProgramming_1", "Docs")'">Learn More</button>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <img src="~/img/Docs/asm.svg" width="50" class="p-2" />
                <h3 class="pt-2">Low-Level Languages</h3>
            </div>

            <p class="card-text">
                Learn the basics of low level languages, like ARM, and how they relate to 8-Bit Computers.
            </p>
            <button class="btn btn-secondary" disabled>Learn More</button>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <img src="~/img/Docs/cpp.svg" width="50" class="p-2" />
                <h3 class="pt-2">High-Level Languages</h3>
            </div>

            <p class="card-text">
                Learn the basics of how high level languages work and why developers prefer them over low level languages.
            </p>
            <button class="btn btn-secondary" disabled>Learn More</button>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <img src="~/img/Docs/cli.svg" width="50" class="p-2" />
                <h3 class="pt-2">SAP1Emu CLI</h3>
            </div>

            <p class="card-text">
                Prefer to user our command line interface?
            </p>
            <button class="btn btn-secondary" disabled>Learn More</button>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <img src="~/img/Docs/api.svg" width="50" class="p-2" />
                <h3 class="pt-2">SAP1Emu API</h3>
            </div>

            <p class="card-text">
                Want to integrate your app directly to our API?
            </p>
            <button class="btn btn-secondary" disabled>Learn More</button>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <img src="~/img/Docs/netcore.svg" width="50" class="p-2" />
                <h3 class="pt-2">SAP1Emu Library</h3>
            </div>

            <p class="card-text">
                Want to use our C# .Net Core Library?
            </p>
            <button class="btn btn-secondary" disabled>Learn More</button>
        </div>
    </div>
</div>