@{
    ViewData["Title"] = "Docs";
}

<div class="jumbotron shadow pb-5 pt-4">
    <h1 class="display-4">Welcome to SAP1Emu Project Docs</h1>
    <p class="lead">The only resource you need to find all the information, tutorials and example programs for the SAP1 computer.</p>
    <hr class="my-4">
    <p class="mb-0">For information about code and other documentation, please visit the GitHub Repository below.</p>
    <p class="mt-0">If you would like to contribute to this project financially, please see the Sponsor link below.</p>
    <a class="btn btn-primary btn-lg" href="https://github.com/rbaker26/SAP1EMU" role="button" target="_blank">GitHub</a>
    <a class="btn btn-danger btn-lg" href="https://github.com/sponsors/rbaker26" role="button" target="_blank">Sponsor</a>
</div>



@{ await Html.RenderPartialAsync("_DocNav"); }