<script src="/js/CodeMirror/lib/codemirror.js"></script>
<script src="/js/CodeMirror/mode/gas/gas_sap1.js" type="text/javascript"></script>
<link href="/js/CodeMirror/lib/codemirror.css" rel="stylesheet" type="text/css" />
<link href="/js/CodeMirror/theme/default.css" rel="stylesheet" type="text/css" />

<script src="/lib/jquery/dist/jquery.js" type="text/javascript"></script>

@* Need to get jQuery lib into the project staticly, no web ref *@
@{
    ViewData["Title"] = "Assembler";
}

<h1>Assembler</h1>

<div class="row">
    <div class="column2">
        <h3>Assembly</h3>
        <br />

        @* An AJAX Form is prob the answer here *@
        @*https://stackoverflow.com/questions/1720020/mvc-jquery-submit-form-without-page-refresh-from-javascript-function*@
        <form id="asm_form" method="post" action="AssembleCode">
            @Html.TextArea("CodeList", null, new { rows = "20", cols = "80", @class = "codebox", id = "asm_code" })
            @*<input type="submit" name="CodeList" value="Assemble" />*@
            <input type="button" name="CodeList" value="Assemble" onclick="AssembleCode(this)" />
            <input type="button" value="Load from File" />
        </form>
        <br />
        <br />
    </div>
    <div class="column2">
        <h3>Binary</h3>
        <br />

        @using (Html.BeginForm())
        {
            @Html.TextArea("bin_code", null, new { rows = "20", cols = "80", @class = "codebox", id = "bin_code" })
            <input type="button" value="Save" />
        }
    </div>
</div>
<br />
<div class="row">
    <div class="column1">
        <h4>Assembler Output</h4>
        <code class="assembler-out" id="assembler-out"><br /></code>
    </div>
    <div></div> @*This blank div is req to trick the row::after or else the margins get screwed up*@
</div>

<script>
    var asm_editor = CodeMirror.fromTextArea(document.getElementById("asm_code"), {
        lineNumbers: true,
        matchBrackets: true,
        mode: {name: "gas_sap1", architecture: "x86"},
        });

    var bin_editor = CodeMirror.fromTextArea(document.getElementById("bin_code"), {
        lineNumbers: true,
        matchBrackets: true,
        mode: {name: "gas_sap1", architecture: "x86"},
        readOnly: true,
      });

</script>

@*<script type="text/javascript">
        $("#asm_form").submit(function () {
            var jqxhr = $.post('AssembleCode', $('#asm_form').serialize())
                .success(function () {
                    var loc = jqxhr.getResponseHeader('Location');
                    var a = $('<a/>', { href: loc, text: loc });
                    $('#message').html(a);
                })
                .error(function () {
                    $('#message').html("Error posting the update.");
                });
            return false;
        });
    </script>*@
<script>
function AssembleCode(btnClicked)
{
    var asm_code = asm_editor.getValue().split('\n');
    var asm_json = JSON.stringify(asm_code);
    console.log(asm_code);
    console.log(asm_json);

    $.ajax({   
        url: "../api/Assembler",   
        type: "POST",    
        contentType: 'application/json; charset=UTF-8',   
        data: asm_json,
        success: function(data) {

            console.log(data.toString());
            console.log(data.toString().replace(/,/g ,'\n'));
            $('#assembler-out').html('<br />');
            


            bin_editor.setValue(data.toString().replace(/,/g ,'\n'));
            return data;
        },
        error: function (request, status, error) {
            bin_editor.setValue("");
            $('#assembler-out').html(request.responseText);
        }
    });

    return false;// if it's a link to prevent post

}
</script>
