<script src="/js/CodeMirror/lib/codemirror.js"></script>
<script src="/js/CodeMirror/mode/gas/gas_sap1.js" type="text/javascript"></script>
<link href="/js/CodeMirror/lib/codemirror.css" rel="stylesheet" type="text/css" />

<script src="/lib/jquery/dist/jquery.js" type="text/javascript"></script>
<script src="/js/Views/AssemblerView.js" type="text/javascript"></script>

@{
    ViewData["Title"] = "Assembler";
}

<h1>Assembler</h1>

<div class="row">
    <div class="column2">
        <h3>Assembly</h3>
        <br />

        <form id="asm_form" method="post" action="AssembleCode">
            @Html.TextArea("CodeList", null, new { rows = "20", cols = "80", @class = "codebox", id = "asm_code" })
            <input type="button" name="CodeList" value="Assemble" onclick="AssembleCode(this)" />
            <input type="button" value="Load from File" />
        </form>
        <br />
        <br />
    </div>
    <div class="column2">
        <h3>Binary</h3>
        <br />

        @using (Html.BeginForm())
        {
            @Html.TextArea("bin_code", null, new { rows = "20", cols = "80", @class = "codebox", id = "bin_code" })
            <input type="button" value="Save" />
        }
    </div>
</div>
<br />
<div class="row">
    <div class="column1">
        <h4>Assembler Output</h4>
        <code class="assembler-out" id="assembler-out"><br /></code>
    </div>
    <div>@*This blank div is req to trick the row::after or else the margins get screwed up*@</div> 
</div>


