<script src="/js/CodeMirror/lib/codemirror.js"></script>
<script src="/js/CodeMirror/mode/gas/gas_sap1.js" type="text/javascript"></script>
<link href="/js/CodeMirror/lib/codemirror.css" rel="stylesheet" type="text/css" />

<script src="/lib/jquery/dist/jquery.js" type="text/javascript"></script>
<script src="/js/Views/EmulatorView.js" type="text/javascript"></script>

@{
    ViewData["Title"] = "Emulator";
}

<h1>Emulator</h1>

<div class="row">
    <div class="column2">
        <h3>Assembly</h3>
        <br />

        <form id="asm_form">
            @Html.TextArea("CodeList", null, new { rows = "20", cols = "80", @class = "codebox", id = "asm_code" })
            <label>Instruction Set</label>
            <select name="langs" id="langs"></select>
            <input type="button" name="CodeList" value="Run Emulator" onclick="RunEmulator()" />
            <input type="button" value="Load from File" />
        </form>
        <br />
        <br />
    </div>
    <div class="column2">
        <div class="vbox_sap">
            <div>
                <h3>SAP1</h3>
            </div>
            <div class="hbox_sap">
                <div>
                    <h3>RAM</h3>
                    @Html.TextArea("ram_dump", null, new { rows = "16", cols = "20", @class = "codebox", id = "ram_dump" })
                </div>
                <div vbox_sap>
                    <div>
                        <h3>Controls</h3>
                        <button><img src="~/img/skip_previous-24px.svg " /></button>
                        <button><img src="~/img/play_arrow-24px.svg" /></button>
                        <button><img src="~/img/pause-24px.svg" /></button>
                        <button><img src="~/img/skip_next-24px.svg" /></button>
                        <button><img src="~/img/replay-24px.svg" /></button> 
                        <br />
                        <br />

                    </div>
                    <div class="sap1-grid">
                        <div>PC<br /><p id-"pc-block"></p></div>
                        <div class="sap1-grid-span">WBus<br /><p id-"wbus-block"></p></div>
                        <div>AReg <br /><p id-"areg-block"></p></div>

                        <div>Mar <br /><p id-"mar-block"></p></div>
                        <div>ALU <br /><p id-"alu-block"></p></div>

                        <div>RAM <br /><p id-"ram-block"></p></div>
                        <div>BReg<br /><p id-"breg-block"></p></div>

                        <div>IReg<br /><p id-"ireg-block"></p></div>
                        <div>OReg<br /><p id-"oreg-block"></p></div>

                        <div>Seq <br /><p id-"seq-block"></p></div>
                        <div>Dis <br /><p id-"dis-block"></p></div>

                    </div>
                    <div>
                        <h3>Flags</h3>
                        <div class="flags-box">
                            <pre>CF = 0   UF = 0   ZF = 1</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>

<div class="row">
    <div class="column1">
        <h4>Emulator Output</h4>
        <code class="emulator-out" id="emulator-out"><br /></code>
    </div>
    <div>@*This blank div is req to trick the row::after or else the margins get screwed up*@</div>
</div>

