@{
    ViewData["Title"] = "About";
}

<script src="~/js/Views/AboutView.js" type="text/javascript"></script>


<div class="jumbotron">
    <h1 class="display-4">Welcome to the SAP1Emu Project!</h1>
    <p class="lead">The only open-source, multiplatform SAP1 Computer Emulator.</p>
    <hr class="my-4">
    <p class="mb-0">For information about code and other documentation, please visit the GitHub Repository below.</p>
    <p class="mt-0">If you would like to contribute to this project financially, please see the Sponsor link below.</p>
    <a class="btn btn-primary btn-lg" href="https://github.com/rbaker26/SAP1EMU" role="button" target="_blank">GitHub</a>
    <a class="btn btn-danger btn-lg" href="https://github.com/sponsors/rbaker26" role="button" target="_blank">Sponsor</a>
    
</div>

<div class="container mb-5">
    <h2>About this Project</h2>
    <p>
        The SAP1Emu Project is an open-source suite of tools designed for students and educators teaching
        introductory courses in Computer Architecture or Digital Electronics.
        It emulates the SAP1 Computer from <i>Digital Computer Electronics by Malvino and Brown</i>. <br /> <br />

        This website provides an easy interface to the SAP1Emu API and Engine.
        A desktop app is in the works and the Engine CLI and Libary is also availble for download from the GitHub Repo.<br />
        The desktop version will launch shortly after .NET 5 launches (late 2020).
    </p>
</div>

<div class="container mt-5">
    <h2>About the Author</h2>
    <div class="row">
        <div class="col-8">
            <p class="mb-4">
                My name is Bob Baker and I am a Software Engineer mostly focusing on C#/.NET Core and C++.
                <br />
                <br />
                Before becoming a Profesional Developer, I worked at Saddleback College as a Teacher's Assistant for the Intro to Computer Architecture and Machine Language Lab (CS1C).
                As a TA I assisted many students in the building and debugging of SAP1 Computers.
                During this time I found that, while there are a few software solutions to assist students; most were "half-baked", were no longer supported, or did not follow
                the specification outlined by Malvino.
                <br />
                <br />
                In the middle of Spring 2020, Saddleback had to shutdown due to the SARS-CoV-2 Pandemic and many students could not finish their final assignment for the course.
                To help with that challange, I started this project and it has grown since then.
                <br />
                <br />
                If you have any questions, my details are on my GitHub. Please feel free to reach out.
                <br />
                <br />
            </p>

            <h2 class="mt-4">Contribute to this Project</h2>
            <p>
                I am always looking for help with this project. Check out the <a href="https://github.com/rbaker26/SAP1EMU/issues">GitHub Issues Page</a> or send me a Pull Request. If it benifits the project, I'd love to add it in. 
                <br />
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contributors">Click here</a> for a list of all Project Contributors.
            </p>
        </div>


        <div class="col-4">
            @{ await Html.RenderPartialAsync("_GitHubProfilePartial", GitHubProfileModel.GetProfile("rbaker26").Result); }
        </div>
    </div>
</div>

