@{
    ViewData["Title"] = "About";
}

<div class="container">
    <h1 class="mb-4">Contributors</h1>

    <div class="row">
        @*<div class="card-deck"> Will come later once more cards are made*@
        <div class="col-auto">
            @{ await Html.RenderPartialAsync("_GitHubProfilePartial", GitHubProfileModel.GetProfile("rbaker26").Result); }
        </div>
        <div class="col-auto">
            @{ await Html.RenderPartialAsync("_GitHubProfilePartial", GitHubProfileModel.GetProfile("dragon0").Result); }
        </div>
        <div class="col-auto">
            @{ await Html.RenderPartialAsync("_GitHubProfilePartial", GitHubProfileModel.GetProfile("BryceCallender").Result); }
        </div>
        <div class="col-auto">
            @{ await Html.RenderPartialAsync("_GitHubProfilePartial", GitHubProfileModel.GetProfile("lubeskih").Result); }
        </div>
        <div class="col-6">
        </div>
    </div>
</div>
