@{
    ViewData["Title"] = "Emulator";
}

<div class="text-center">
    <h1 class="display-4">Choose an Emulator</h1>
</div>
 
<div class="mt-5">
    <div class="row justify-content-center">
        <div class="col-auto">
            <div class="card border-white text-center zoom">
                <a href='@Url.Action("SAP1", "Emulator")'>
                    <img class="img-thumbnail border-white" src="~/img/EmulatorPicker/8bit.png" alt="Card image" style="height: 150px; width: 150px;">
                </a>
                <h3 class="lead">SAP1</h3>
            </div>
        </div>
        <div class="col-auto">
            <div class="card border-white text-center zoom">
                <a href='@Url.Action("SAP2", "Emulator")'>
                    <img class="img-thumbnail border-white" src="~/img/EmulatorPicker/16bit.png" alt="Card image" style="height: 150px; width: 150px;">
                </a>
                <h3 class="lead">SAP2</h3>
            </div>
        </div>
    </div>
</div>