@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to the SAP1Emu Project</h1>
        <br />
        <br />



        <img src="img/sap1-logo.png" width="450" />

        <br />
        <br />
        <br />
        <br />
        <p>SAP1Emu Project - by Bob Baker</p>
        <p>github.com/rbaker26</p>

    </div>
