@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This site is still in beta. <br />
    We don't sell, give away, or transfer any user-data to anyone for any reason.
    <br />
    <br />
    Any user-data will be used for internal site inprovements for the purposes of this beta. <br />
    This policy is subject to change in the future.
</p>