@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This app, if downloaded from github.com/rbaker26/SAP1EMU, contains no telemetry or analytics, nor does it collect any user data, system data or network data. <br />
    It does not connect to any server, service, API, database or IP Address. <br />
    <br />
    If you downloaded this app from any other source, including repository forks, I cannot guarantee any of the above. <br />
    Please only download this app from the only approved repository, github.com/rbaker26/SAP1EMU/releases.
</p>
