@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    All users of this site and accompanying APIs must agree to the following policy.
</p>
<h4>Data that SAP1Emu collects</h4>
<ul>
    <li>Any Code submitted to the Site via the WebApp or the API.</li>
    <li>Google Analytics information such as, but not limited to site-navigation-flow, country of origin, browser type, screen-resolution and time spent on each page.</li>
</ul>
<p>
    By using this site you agree to the collection of the above information
</p>

<br />

<h4>What we do with that data</h4>
<ul>
    <li>SAP1Emu does NOT sell any data to anyone for any reason. User Data is not for sale nor will it every be for sale.</li>
    <li>SAP1Emu uses submitted code to improve its emulators and processes.</li>
    <li>SAP1Emu uses Google Analytics to track how its users interact with the site and how that interaction can be improved.</li>
</ul>

<br />

<h4>Data Removal</h4>
<p>
    If you have questions about stored data or wish to have user data removed, please contact SAP1Emu via <a href="mailto:sap1emubot@gmail.com">sap1emubot@gmail.com</a>
</p>