@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
<div id="cookieConsent" class="alert alert-info alert-dismissible fade show shadow" role="alert">
    <h5>We Use Cookies</h5>
    We use cookies and other tracking technologies to improve your browsing experience on our website,
    to show you personalized content, to analyze our website traffic,
    and to understand where our visitors are coming from.

    <br /> By clicking “Accept” or continuing use of this site, you agree to our <a asp-controller="Home" asp-action="Privacy">Privacy Policy</a>.

    <button id="cookieConsent" type="button" class="accept-policy close mt-1" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
        <span aria-hidden="true">Accept</span>
    </button>
</div>
    <script>
        (function () {
            
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
                console.log(button.dataset.cookieString);
                console.log(document.cookie);
            }, false);
        })();
    </script>
}