@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<h1>Error</h1>

<h3>Sorry about this...</h3>
<p>
    If this issue continues to occur, please <a asp-area="" asp-controller="Help" asp-action="">submit an issue</a> using our issue tracker.
    @if (Model.ShowRequestId)
    {
        <span>Here is some date to include in the issue: </span><br />
        <strong>Request ID:</strong> <code>@Model.RequestId</code> <br />
        <strong>Version:   </strong> @typeof(SAP1EMU.GUI.Program).Assembly.GetName().Version
    }
</p>
