  
# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Selenium Integration Testing

on: [pull_request]

jobs:
  azure-deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master

    - name: Set up .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '3.1.102'

    - name: Build with dotnet
      run: dotnet build --configuration Release SAP1EMU.GUI

    - name: dotnet publish
      run: dotnet publish -c Release SAP1EMU.GUI -o ${{env.DOTNET_ROOT}}/sap1emu_gui

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'sap1emu'
        slot-name: 'test'
        publish-profile: ${{ secrets.AZURE_CREDS }}
        package: ${{env.DOTNET_ROOT}}/sap1emu_gui 
